<div class="card">
  <div class="card-header">
    <i class="fa fa-user"></i> Clasificación de Contratos

  </div>

  <div class="card-body">
    <div class="text-right "><a href="" class="btn btn-sm btn-outline-info" [routerLink]="'generador'"><i class="fa fa-file-word-o"></i> Nuevo Contrato</a></div>

    <div class="text-left">
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Agregar Variable</label>
        <div class="col-md-6">
          <input type="text" class="form-control" [(ngModel)]="xVariables">
        </div>
        <button class="btn btn-css3" (click)="AgregarVariable()" > <i class="fa fa-plus"></i> Agregar</button>
        <label class="col-md-3 col-form-label"></label>

      </div>

      <div class="form-group row">
        <label class="col-md-3 col-form-label">Agregar Variable</label>
        <div class="col-md-6">
          <textarea id="w3review" name="w3review" class="form-control" rows="4" cols="50" [(ngModel)]="xParrafo">
            </textarea>
        </div>
        <button class="btn btn-primary" (click)="AgregarParrafo()" > <i class="fa fa-search"></i> Añadir a Plantilla</button>

      </div>

      <div class="form-group row">
        <label class="col-md-3 col-form-label">Diseño</label>
        <div class="col-md-6">
          <label for="">{{this.xParrafoGeneral}}</label>
        </div>
      </div>
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="">Prev</a>
      </li>
      <li class="page-item active">
        <a class="page-link" href="">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="">4</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="">Next</a>
      </li>
    </ul>
  </div>
</div>

