<div class="card">
  <div class="card-header">
    Datos del Cliente Codigo : <strong> {{solicitudAtencionCredito.CodigoCliente}}</strong> </div>
  <div class="card-body">
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Documento Cliente</label>
        <div class="col-md-3">
          <input class="form-control" type="text" placeholder="Nombre..." name="nombre" value="{{solicitudAtencionCredito.DocumentoCliente}}">
        </div>

        <label class="col-md-2 col-form-label">Nombre Cliente</label>
        <div class="col-md-4">
          <input class="form-control" type="text" placeholder="Nombre..." name="nombre" value="{{solicitudAtencionCredito.NombreCliente}}">
        </div>
      </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Dirección</label>
      <div class="col-md-3">
        <input class="form-control" type="text" placeholder="Nombre..." name="nombre" value="{{solicitudAtencionCredito.DireccionCliente}}">
      </div>

      <label class="col-md-2 col-form-label">Teléfono</label>
      <div class="col-md-4">
        <input class="form-control" type="text" placeholder="Nombre..." name="nombre" value="{{solicitudAtencionCredito.TelefonoCliente}}">
      </div>
    </div>

      <div class="form-group row">
        <label class="col-md-3 col-form-label">Nombre Asesor</label>
        <div class="col-md-3">
          <input class="form-control" type="text" placeholder="Nombre..." name="nombre" value="{{solicitudAtencionCredito.NombreAsesor}}">
        </div>

        <label class="col-md-2 col-form-label">Oficina</label>
        <div class="col-md-4">
          <input class="form-control" type="text" placeholder="Nombre..." name="nombre" value="{{solicitudAtencionCredito.DescripcionOficina}}">
        </div>
      </div>
  </div>

</div>

<div class="card">
  <div class="card-header">
    Datos de Crédito:<strong> {{solicitudAtencionCredito.CodigoSolicitudCredito}}</strong> </div>
  <div class="card-body">

    <div class="form-group row">
      <label class="col-md-3 col-form-label">Codigo Crédito</label>
      <div class="col-md-3">
        <input class="form-control" type="text" placeholder="Nombre..." name="nombre" value="{{solicitudAtencionCredito.CodigoSolicitudCredito}}">
      </div>

      <label class="col-md-2 col-form-label">Tipo de Crédito</label>
      <div class="col-md-4">
        <input class="form-control" type="text" placeholder="Nombre..." name="nombre" value="{{solicitudAtencionCredito.DescripcionTipoCredito}}">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-form-label">Tipo de Producto</label>
      <div class="col-md-3">
        <input class="form-control" type="text" placeholder="Nombre..." name="nombre" value="{{solicitudAtencionCredito.DescripcionProducto}}">
      </div>

      <label class="col-md-2 col-form-label">Sub Producto</label>
      <div class="col-md-4">
        <input class="form-control" type="text" placeholder="Nombre..." name="nombre" value="{{solicitudAtencionCredito.DescripcionSubProducto}}">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-form-label">Descripción del Crédito</label>
      <div class="col-md-3">
        <input class="form-control" type="text" placeholder="Nombre..." name="nombre" value="{{solicitudAtencionCredito.DescripcionCredito}}">
      </div>

      <label class="col-md-2 col-form-label">Monto del Crédito</label>
      <div class="col-md-4">
        <input class="form-control" type="text" placeholder="Nombre..." name="nombre" value="{{solicitudAtencionCredito.MontoCredito}}">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-form-label">Número de Cuotas</label>
      <div class="col-md-3">
        <input class="form-control" type="text" placeholder="Nombre..." name="nombre" value="{{solicitudAtencionCredito.NumeroCuotas}}">
      </div>

      <label class="col-md-2 col-form-label">Plan de Crédito</label>
      <div class="col-md-4">
        <input class="form-control" type="text" placeholder="Nombre..." name="nombre" value="{{solicitudAtencionCredito.PlanCredito}}">
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Solicitud:<strong> {{solicitudAtencionCredito.Situacion}}</strong> </div>
  <div class="card-body">

<!--    <div class="form-group row">-->
<!--      <label class="col-md-3 col-form-label">Gestión</label>-->
<!--      <div class="col-md-9 col-form-label">-->
<!--        <div class="form-check form-check-inline mr-1">-->
<!--          <input class="form-check-input" id="inline-radio1" type="radio" value="option1" name="inline-radios">-->
<!--          <label class="form-check-label" for="inline-radio1"> Aceptar  </label>-->
<!--        </div>-->
<!--        <div class="form-check form-check-inline mr-1">-->
<!--          <input class="form-check-input " id="inline-radio2" type="radio" value="option2" name="inline-radios">-->
<!--          <label class="form-check-label" for="inline-radio2"> Denegar  </label>-->
<!--        </div>-->

<!--        <div class="form-check form-check-inline mr-1">-->
<!--          <input class="form-check-input " id="inline-radio3" type="radio" value="option2" name="inline-radios">-->
<!--          <label class="form-check-label" for="inline-radio3"> Anular  </label>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="form-group row">-->

<!--      <label class="col-md-3 col-form-label">Procesos de Solicitud</label>-->
<!--      <div class="col-md-9">-->
<!--        <select class="form-control"  name="CodigoClasificacion">-->
<!--          <option [ngValue]="undefined">Selecciona una opción</option>-->
<!--          <option *ngFor="let listado of listaSolicitud" [ngValue]="listado.CodigoProceso">-->
<!--            {{listado.ProcesoSolicitud}}-->
<!--          </option>-->
<!--        </select>-->
<!--      </div>-->
<!--    </div>-->

    <div class="form-group row">
      <label class="col-md-3 col-form-label text-left">Descripción </label>
      <div class="col-md-9">
        <textarea class="form-control" id="textarea-input" [(ngModel)]="this.comentarioAtencion" name="descripcion" rows="3" placeholder="Descripción.." ></textarea>
      </div>

    </div>

  </div>

  <div class="card-footer">
    <button class="btn btn-sm btn-primary" role="button" (click)="FinalizaProcesoAtencion()">
      <i class="fa fa-save" ></i> Grabar</button> &nbsp;
    <button class="btn btn-sm btn-danger" type="reset" (click)="backClicked()">
      <i class="fa fa-arrow-left"></i> Regresar</button>
  </div>
</div>
